In [6]:
!pip install pandas requests

Requirement already satisfied: pandas in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: requests in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\juanb\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\juanb\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.7.4)
Requirement already satisfied: six>=1.5 in c:\users\juanb\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
# Import necessary libraries
import requests
import pandas as pd
from config import API_KEY

# Base URL for the NASDAQ Data Link API
BASE_URL = 'https://data.nasdaq.com/api/v3/datasets/WIKI/'

# Function to fetch data from NASDAQ Data Link API
def fetch_data(dataset_code, api_key):
    """
    Fetches data for a given dataset code from the NASDAQ Data Link API.

    Args:
    - dataset_code (str): The dataset code for the stock (e.g., 'AAPL' for Apple).
    - api_key (str): The API key for authenticating the request.

    Returns:
    - dict: The JSON response containing the stock data.
    """
    url = f"{BASE_URL}{dataset_code}.json"
    params = {'api_key': api_key}
    response = requests.get(url, params=params)
    if response.status_code == 200:
        return response.json()
    else:
        response.raise_for_status()

# Fetch data for NVIDIA, Google, and Apple
dataset_codes = ['NVDA', 'GOOGL', 'AAPL']
data = {code: fetch_data(code, API_KEY) for code in dataset_codes}

# Create DataFrames from the data
dfs = {}
for code in dataset_codes:
    # Extract column names and data rows from the JSON response
    column_names = data[code]['dataset']['column_names']
    rows = data[code]['dataset']['data']
    
    # Create a DataFrame from the data
    df = pd.DataFrame(rows, columns=column_names)
    
    # Convert the 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Set 'Date' as the index
    df.set_index('Date', inplace=True)
    
    # Add a 'Stock' column to identify the stock
    df['Stock'] = code
    
    # Store the DataFrame in the dictionary
    dfs[code] = df

# Return the full DataFrames for NVIDIA, Google, and Apple
nvidia_df = dfs['NVDA']
google_df = dfs['GOOGL']
apple_df = dfs['AAPL']

# Display the DataFrames for NVIDIA, Google, and Apple
print("NVIDIA DataFrame:")
display(nvidia_df)

print("Google DataFrame:")
display(google_df)

print("Apple DataFrame:")
display(apple_df)

NVIDIA DataFrame:

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Stock
Date,,,,,,,,,,,,,
2018-03-27,247.75,250.00,219.845,225.52,34462113.0,0.0,1.0,247.750000,250.000000,219.845000,225.520000,34462113.0,NVDA
2018-03-26,238.00,244.53,235.900,244.48,15130542.0,0.0,1.0,238.000000,244.530000,235.900000,244.480000,15130542.0,NVDA
2018-03-23,242.40,242.67,232.520,232.97,18225390.0,0.0,1.0,242.400000,242.670000,232.520000,232.970000,18225390.0,NVDA
2018-03-22,246.00,247.88,240.341,241.85,13663927.0,0.0,1.0,246.000000,247.880000,240.341000,241.850000,13663927.0,NVDA
2018-03-21,249.32,252.00,247.330,248.56,10841782.0,0.0,1.0,249.320000,252.000000,247.330000,248.560000,10841782.0,NVDA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999-01-28,20.00,20.13,19.810,19.94,474000.0,0.0,1.0,1.546499,1.556552,1.531808,1.541860,5688000.0,NVDA
1999-01-27,20.13,20.63,19.000,20.00,509100.0,0.0,1.0,1.556552,1.595214,1.469174,1.546499,6109200.0,NVDA
1999-01-26,22.00,22.44,19.750,20.06,715000.0,0.0,1.0,1.701149,1.735172,1.527168,1.551139,8580000.0,NVDA
1999-01-25,21.25,22.00,19.690,21.75,1063500.0,0.0,1.0,1.643156,1.701149,1.522529,1.681818,12762000.0,NVDA
1999-01-22,21.00,23.44,18.630,19.69,5655600.0,0.0,1.0,1.623824,1.812497,1.440564,1.522529,67867200.0,NVDA

Google DataFrame:

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Stock
Date,,,,,,,,,,,,,
2018-03-27,1063.90,1064.54,997.62,1006.940,2940957.0,0.0,1.0,1063.900000,1064.540000,997.620000,1006.940000,2940957.0,GOOGL
2018-03-26,1050.60,1059.27,1010.58,1054.090,3272409.0,0.0,1.0,1050.600000,1059.270000,1010.580000,1054.090000,3272409.0,GOOGL
2018-03-23,1051.37,1066.78,1024.87,1026.550,2413517.0,0.0,1.0,1051.370000,1066.780000,1024.870000,1026.550000,2413517.0,GOOGL
2018-03-22,1080.01,1083.92,1049.64,1053.150,3418154.0,0.0,1.0,1080.010000,1083.920000,1049.640000,1053.150000,3418154.0,GOOGL
2018-03-21,1092.57,1108.70,1087.21,1094.000,1990515.0,0.0,1.0,1092.570000,1108.700000,1087.210000,1094.000000,1990515.0,GOOGL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0,GOOGL
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0,GOOGL
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0,GOOGL
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0,GOOGL
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0,GOOGL

Apple DataFrame:

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Stock
Date,,,,,,,,,,,,,
2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.680000,175.150000,166.920000,168.340000,38962839.0,AAPL
2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.070000,173.100000,166.440000,172.770000,36272617.0,AAPL
2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.390000,169.920000,164.940000,164.940000,40248954.0,AAPL
2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.000000,172.680000,168.600000,168.845000,41051076.0,AAPL
2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.040000,175.090000,171.260000,171.270000,35247358.0,AAPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1980-12-18,26.63,26.75,26.63,26.630,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0,AAPL
1980-12-17,25.87,26.00,25.87,25.870,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0,AAPL
1980-12-16,25.37,25.37,25.25,25.250,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0,AAPL
1980-12-15,27.38,27.38,27.25,27.250,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0,AAPL
1980-12-12,28.75,28.87,28.75,28.750,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0,AAPL